.feature-page {
    width: 100%;
    height: 100%;
    overflow-y: scroll;
    align-self: center;
}

@mixin rounded-layer($width,$height,$border-radius,$span-color,$background-color) {
    margin: 0;
    z-index: 3;  
    top: 0px;
    bottom: 0px;
    right: 0px;
    left: 0px;
    width: $width;
    height: $height;
    border-radius: $border-radius;
    position: absolute;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;

    span {
        visibility: hidden;
        color: $span-color;
        font-weight: 500;
    }

    &:hover {
        cursor: pointer;
        visibility: visible;
        background-color: $background-color;
        span {
            visibility: visible;
        }
    }
}

.profile-info-wrapper {
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    padding-top: 25px;
    justify-content: space-around;
    
    
    .profile-image {
        width: 105px;
        height: 105px;
        align-self: center;
        display: flex;
        justify-content: center;
        position: relative;


        img {
            width: 105px;
            height: 105px;
            border-radius: 50%;  
            object-fit: cover;
        }
        
        .profile-second-layer {
            @include rounded-layer(105px,105px,50%,white,#64b3f4e2);
        }
    }

    .profile-info-card {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: auto;
        width: 250px;

        .info {
            margin-top: 10px;
            align-self: center;
            .important-info-form {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                width: 200px;
                padding: 0px;

                .fields {
                    display: flex;
                    flex-direction: column;
                }
            }

            button {
                align-content: center;
                color: white;
            }
        }
    }

    .main-info-card {
        width: 600px;
        position: relative;

        .account-bedge {
            position: absolute;
            top: 0px;
            left: 0px;
            width: auto;
            padding: 4px 10px;
            background: #64b3f4;
            border-top-left-radius: 4px;
            border-bottom-right-radius: 4px;
            color: white;
        }
        .main-info-form {
            margin-top: 25px;
            height: auto;
            display: flex;
            flex-direction: column;
            .fields {
                display: flex;
                flex-direction: row;
                justify-content: space-around;
                width: 100%;
            }
        }
    }
}

.office {
    width: 100%;
    height: auto;
    margin-top: 25px;
    display: flex;
    justify-content: center;
    
    &-card {
        width: inherit;
        display: flex;
        flex-direction: column;
        // margin-bottom: 25px;
        margin: 0px 30px 25px 30px;

        &-buttons {
            width: 100%;
            display: flex;
            
            button {
                margin: 0px 5px;
            }
        }

        &-content {
            width: 100%;
            height: auto;

            .no-offices-message {
                text-align: center;
                display: flex;
                flex-direction: column;
                justify-content: center;
                width: 100%;
                height: 50px;
                color:rgb(170, 170, 170);
            }

            .details {
                width: 100%;
                height: auto;
                display: flex;
                position: relative;
            }
        }
    }
}

.content-container {
    
    display: flex;

    .office-map-location {
        height: 100%;
        width: 250px;
        margin-right: 25px;
        
        .agm-container {
            width:100%; 
            height: auto;

            agm-map {
                width:100%;
                height: 250px;
            }
        }
    }
    .form-map-informations {
        width: 250px;
        height: auto;
        margin-top: 25px;
        mat-form-field {
            width: 100%;
        }
    }

    .affiliated-doctors {
        margin-bottom: 20px;
        h3 {
            color: #64b3f4;   
        }
        .doctors-list {
            display: flex;
            height: auto;
            flex-wrap: wrap;
            .doctor-wrapper {
                .doctor-container{
                    position: relative;
                    width: 50px;
                    height: 50px;
                    margin: 0px 5px;
                    img {
                        width: 50px;
                        height: 50px;
                        border-radius: 50%;
                        object-fit: cover;
                        z-index: 2;
                    }
                    .add-doctor {
                        width: 50px;
                        height: 50px;
                        border-radius: 50%;
                        border: 2px #64b3f4 solid;
                        z-index: 2;
                        display: flex;
                        flex-direction: center;
                        justify-content: center;
                        align-items: center;
                        cursor: pointer;

                        &:hover {
                            background-color: #64b3f4;
                            mat-icon {
                                color: white;
                            }
                        }
                    }
                }
            }
        }

    }
}

.doctors-second-layer{

    @include rounded-layer(50px,50px,50%,white,#64b3f4e2); 
}


.office-owner-shield {
    position: absolute;
    bottom: -5px;
    right: -5px;
    width: 10px;
    height: 10px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: white;
    border: 1px #64b3f4 solid;
    z-index: 4;
    margin: 0 auto;
    mat-icon {
        font-size: 20px;
    }
}

.material-button {
    color: white;
}

.edit-button {
    position: absolute;
    right: -10px;
    top: 0px;
}

.left-side, .right-side {
    display: flex;
    flex-direction: column;
    width: 250px;
    .info-label {
        font-style: italic; 
        color: #64b3f4;
        mat-icon {
            font-size: 18px;
            vertical-align: text-top;
        }
    }
    mat-form-field {
        width: 250px;
    }
}

.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
       -khtml-user-select: none; /* Konqueror HTML */
         -moz-user-select: none; /* Old versions of Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
              user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome, Edge, Opera and Firefox */
}

mat-card { 
    margin: 0px 15px;
}

// MOBILE STYLE

@media screen and (max-width: 1200px) {
    .profile-info-wrapper {
        flex-direction: column;
        align-items: center;
    }
    .main-info-card {
        margin-top: 15px;
    }
}

@media screen and (max-width: 1022px) {

    .profile-info-card {
        justify-content: center !important;
    }

}
@media screen and (max-width: 850px) {
    .content-container {
        flex-direction: column-reverse;
        margin: 0 auto;
        margin-top: 25px;
    }
}
@media screen and (max-width: 730px) {
    .main-info-card {
        width: 250px !important;
        .main-info-form {
            .fields {
                flex-direction: column !important;
                justify-content: center !important;
            }
        }
    }
}
@media screen and (max-width:  450px) {

    .profile-info-wrapper {
        mat-card {
            margin: 15px;
        }

        .main-info-card {
            min-height: 400px;
            width: 250px;

            .main-info-form {
                flex-direction: column;
            }
        }
    }

    .office-card {
        width: 250px !important;
    }
}