
#forms-container {
    display: flex;
    flex-direction: column;
    
}

.right-button {
    color: #fff;
    margin-left: 5px;
    float: right;
}

.switch-sign {
    margin-bottom: 12px;
    color:#64b3f4;
    font-style: italic;
    cursor: pointer;
}

.mat-dialog-content {
    width: 300px;
}