
.doctor-selected {
    .doctor-card {
        .container {
            display: flex;
            justify-content: space-between;
            height: 120px;

            img {
                height: 100%;
                width: 120px;
                object-fit: cover;
                border-radius: 4px;
            }
            
            .doctor-info {
                width: 250px;
                margin-left: 5px;
                ul {
                    list-style: none;
                    margin: 0px;
                    padding: 0px;
                    li {
                        color: #64b3f4;
                        font-weight: bold;
                        span {
                            font-weight: 300;
                        }
                    }
                }
            }
        }
    }
}

@media screen and(max-width: 550px) {

    .doctor-selected {
        // max-height: 300px;
        .doctor-card {
            height: 100%;
            .container {
                display: flex;
                flex-direction: column;
                height: 100%;
                justify-content: start;

                img {
                    height: 150px;
                    width: 100%;
                    object-fit: cover;
                    border-radius: 4px;
                }
                
                .doctor-info {
                    width: auto;
                    margin-top: 10px;
                    margin-left: 0px;
                }
            }
        }
    }
}