.sidenav-item-list {
    width: 100%;
    height: auto;
    ul {
        padding: 0px;
        color: white;
        text-align: center;
        list-style-type: none;
        
        li {
            width: 100%;
            align-self: center;
            cursor: pointer;
            mat-icon {
                width: 40px;
            }

            span {
                vertical-align: super;
                font-weight: 500;
                font-style: italic;
            }
        }

        li:hover {
            opacity: 0.80;
        }
    }
}

.active-dashboard-feature {
    background: white;
    color: #64b3f4;
}