:host {
    position: relative;
}

.sidenav-item-list {
    width: 100%;
    height: auto;
    ul {
        padding: 0px;
        color: white;
        list-style-type: none;
        
        li {
            width: 100%;
            align-self: center;
            cursor: pointer;
            -webkit-touch-callout: none; /* iOS Safari */
            -webkit-user-select: none; /* Safari */
            -khtml-user-select: none; /* Konqueror HTML */
            -moz-user-select: none; /* Old versions of Firefox */
            -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none;
             
            mat-icon {
                width: 30px;
            }

            span {
                vertical-align: super;
                font-weight: 500;
                font-style: italic;
            }
        }

        li:hover {
            opacity: 0.80;
        }
    }
}

.active-dashboard-feature {
    background: white;
    color: #64b3f4;
}


.notification-wrapper {
    width: 250px;
    height: 250px;
    position: absolute;
    left: 45px;
    top: -75px;
    z-index: 10;
    display: flex;
}