.appointments-page {
    padding: 25px;

    .popup-buttons {
        width: 100%;
        display: flex;
        padding-top: 15px;
        
        button { 
            color: white;
        }
    }
}

